# AI Core
ag2[gemini]             # مكتبة الوكلاء (النسخة الحديثة)
ag2[retrievechat]
google-generativeai     # للاتصال بموديلات جوجل

# Environment
python-dotenv           # لقراءة ملف .env

# Web Interface
streamlit               # لواجهة المستخدم

# Backend (Optional for later)
fastapi # fastapi[all]
fastapi_mail
uvicorn
psycopg[binary]
psycopg2-binary
sqlalchemy
alembic
pwdlib[argon2]
pyjwt
python-multipart


# Utilities
requests                # للاتصال بالـ APIs
moviepy                 # لمونتاج الفيديو
pydantic                # للتحقق من البيانات