# AI Core   
ag2[gemini,retrievechat]>=0.10.3
google-generativeai>=0.8.3     # للاتصال بموديلات جوجل

# Environment
python-dotenv           # لقراءة ملف .env


# Backend (Optional for later)
fastapi # fastapi[all]
fastapi_mail
uvicorn
pwdlib[argon2]
pyjwt
python-multipart

# database 
sqlalchemy
alembic
psycopg[binary]
psycopg2-binary

# Utilities
requests                # للاتصال بالـ APIs
moviepy                 # لمونتاج الفيديو
pydantic                # للتحقق من البيانات